.search{
	position: absolute;
	top:100px;
	left:400px;
	width: 780px;
	background-color: red;
	height: 45px;
	padding: 10px;
	margin: 10px;
	border:0px;
}
.search input{
	width: 700px;
	height:30px;
	margin: 0px;
	position: relative;
	top:-2px;
	font-size: 20px;
	outline: none;
}
.search button{
	color: white;
	font-size: 28px;
	background-color:red;
	border:0px;
	margin: 0px; 
	outline: none;
}
.search button:hover{
	cursor: pointer;
}